<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.cebest.mapper.QuartzTaskMapper">
	
	<resultMap type="QuartzTask" id="resultMap">
		<id column="id" property="id" />
		<id column="name" property="name" />
		<id column="cron" property="cron" />
		<id column="targetBean" property="targetBean" />
		<id column="targetMethod" property="targetMethod" />
		<id column="params" property="params" />
		<id column="status" property="status" />
		<id column="createTime" property="createTime" />
		<id column="createBy" property="createBy" />
		<id column="updateTime" property="updateTime" />
		<id column="updateBy" property="updateBy" />
		<id column="remarks" property="remarks" />
		<id column="isDelete" property="isDelete" />
	</resultMap>
	
	<!-- 表基本字段 -->
	<sql id="tableColumns">
		qt.id,
		qt.name,
		qt.cron,
		qt.target_bean targetBean,
		qt.target_method targetMethod,
		qt.params,
		qt.status,
		DATE_FORMAT(qt.create_date,'%Y-%m-%d %H:%i:%s')createTime,
		qt.create_by createBy,
		DATE_FORMAT(qt.update_date,'%Y-%m-%d %H:%i:%s')updateTime,
		qt.update_by updateBy,
		qt.remarks,
		qt.is_delete isDelete
	</sql>
	
	
	<!-- 分页查询 -->
	<select id="pageList" resultMap="resultMap">
		SELECT 
			<include refid="tableColumns" />
		FROM
			quartz_task qt
		WHERE 
			qt.is_delete = 0
		<if test="key != null and key != ''">
			AND (
				qt.name like concat ('%',#{key},'%')
				OR
				qt.target_bean like concat ('%',#{key},'%')
				OR
				qt.target_method like concat ('%',#{key},'%')
			)
		</if>
		<if test="status != null and status != -1">
			AND qt.status = #{status}
		</if>
	</select>
	
	
	<!-- 查询详情 -->
	<select id="queryObject" resultType="QuartzTask">
		SELECT 
			<include refid="tableColumns" />
		FROM
			quartz_task qt
		WHERE 
			qt.id = #{jobId}
			AND 
			qt.is_delete = 0
	</select>
	
	<!-- 更新定时任务 -->
	<update id="updateById" parameterType="QuartzTask">
		UPDATE
			quartz_task
		SET 
			update_date = now()
		<if test="name != null and name != ''">
			,name = #{name}
		</if>
		<if test="cron != null and cron != ''">
			,cron = #{cron}
		</if>
		<if test="targetBean != null and targetBean != ''">
			,target_bean = #{targetBean}
		</if>
		<if test="targetMethod != null and targetMethod != ''">
			,target_method = #{targetMethod}
		</if>
		<if test="params != null and params != ''">
			,params = #{params}
		</if>
		<if test="status != null">
			,status = #{status}
		</if>
		<if test="remarks != null and remarks != ''">
			,remarks = #{remarks}
		</if>
		<if test="updateBy != null">
			,update_by = #{updateBy}
		</if>
	</update>
	
	<!-- 批量更新任务状态 -->
	<update id="updateBatchTasksStatus">
		UPDATE
			quartz_task
		SET
			status = #{status}
		WHERE
			id IN 
		<foreach collection="ids" item="id" open="(" close=")" separator=",">
			#{id}
		</foreach>
	</update>
	
	<!-- 添加定时任务 -->
	<insert id="insert" parameterType="QuartzTask" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
			quartz_task(
				name,
				cron,
				target_bean,
				target_method
				<if test="params != null and params != ''">
					,params
				</if>
				<if test="status != null">
					,status
				</if>
				<if test="createBy != null and createBy != ''">
					,create_by
				</if>
				<if test="remarks != null and remarks != ''">
					,remarks
				</if>
			)VALUES(
				#{name},
				#{cron},
				#{targetBean},
				#{targetMethod}
				<if test="params != null and params != ''">
					,#{params}
				</if>
				<if test="status != null">
					,#{status}
				</if>
				<if test="createBy != null and createBy != ''">
					,#{createBy}
				</if>
				<if test="remarks != null and remarks != ''">
					,#{remarks}
				</if>
			)
	</insert>
	
</mapper>